/* CertificateGenerator.css */

.certificate-generator {
    text-align: center;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("../public/certificatebg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Optional, for fixed background */
    height: 100vh;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    max-width: 400px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container .form-group {
    margin: 10px 0;
  }
  
  .form-container label {
    font-weight: bold;
    font-size: 18px;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
  }
  
  .certificate {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 800px;
    position: relative;
    font-family: 'Arial', sans-serif;
    z-index: 2; /* Set z-index to 2 to make the certificate appear above the form */
  }
  
  .certificate h2 {
    font-size: 36px;
    font-weight: bold;
    color: #007bff;
    text-transform: uppercase;
  }
  
  .certificate p {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .certificate .name, .certificate .course, .certificate .institution {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
  }
  
  .certificate .signature img {
    max-width: 200px;
  }
  
  .certificate .qr-code {
    margin-top: 20px;
    text-align: center;
    max-width: 100px; /* Adjust the max-width to reduce the QR code size */
  }
  
  .certificate .seal {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .download-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
  }
  .headi {
    background-color: skyblue;
    border-radius: 500px;
  }