* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .bg2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db;
    color: #e96767;
    padding: 10px;
  }
  
  .logo {
    max-width: 110px;
    height: auto;
  }
  
  .links {
    display: flex;
  }
  
  .links a {
    color: rgb(146, 26, 26);
    text-decoration: none;
    margin-right: 20px;
  }
  
  .links a:last-child {
    margin-right: 0;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  
  .card {
    flex: 1;
    margin: 10px;
    max-width: 300px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s;
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  .card1 {
    background-image: url("../public/todo.jpg");
  }
  
  .card2 {
    background-image: url("../public/roadmap.jpg");
  }
  
  .card3 {
    background-image: url("../public/resources.jpg");
  }
  
  .card4 {
    background-image: url("../public/video.jpg");
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-button {
    position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .links {
      flex-direction: column;
      align-items: center;
    }
  
    .links a {
      margin: 10px 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    .card {
      flex: 1 0 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .logo {
      max-width: 80%; /* Adjust as needed */
    }
  }
  
  @media screen and (max-width: 600px) {
    .logo {
      max-width: 60%; /* Adjust as needed */
    }
  }
  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: center;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  
    .links {
      margin-top: 10px;
    }
  
    .links a {
      margin: 5px;
    }
  }
  